DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jhunu_kitchen?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/jhunu_kitchen?schema=public"
API_PORT=5174
RAZORPAY_KEY_ID=rzp_test_SWjGqdjzIq4jza
RAZORPAY_KEY_SECRET=jRxVLlczZF6eQRjAgJLxhSTQ
