DATABASE_URL= postgresql://postgres:mousumiparida%4005P@db.zayvpbgeiwgythrsyulx.supabase.co:5432/postgres?sslmode=require
DIRECT_URL= postgresql://postgres:mousumiparida%4005P@db.zayvpbgeiwgythrsyulx.supabase.co:5432/postgres?sslmode=require
API_PORT=5174
RAZORPAY_KEY_ID=rzp_test_SWjGqdjzIq4jza
RAZORPAY_KEY_SECRET=jRxVLlczZF6eQRjAgJLxhSTQ
